@use "@/styles/abstracts" as *;

.container {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.slide {
  border-radius: 20px;
}

.badge {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 3;
}
