@use "@/styles/abstracts/index" as *;
@use "@/styles/mixins/index" as *;


.container {
  @include flex-column;
  padding: 0 1rem;
}

.links {
  height: 40px;
  transition: height .2s;

  @media (max-width: $mobile) {
    display: none;
  }
}

.searchBar {
  height: 70px;
}

.catalog {
  height: 40px;
  transition: height .1s;
  display: flex;
  justify-content: right;
  gap: 2rem;

  @media (max-width: $mobile) {
    display: none;
  }
}




