@use "@/styles/abstracts/index" as *;
@use "@/styles/mixins/index" as *;


.container {
  @include flex-column;
  padding: 0 1rem;
}

.links {
  height: 40px;
  transition: height .2s;

  @media (max-width: $ipad) {
    display: none;
  }
}

.searchBar {
  height: 70px;
}

.catalog {
  height: 40px;
  transition: height .1s;
  display: flex;
  justify-content: right;
  gap: 2rem;

  @media (max-width: $ipad) {
    display: none;
  }
}

.mobileLink {
  display: none;

  @media (max-width: $ipad) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 120%;
    height: 30px;
    margin-left: -16px;
    background-color: $cl-primary;
    color: black;
  }
}



