@use "@/styles/abstracts" as *;
@use "@/styles/mixins" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: $box-radius;
  overflow: hidden;
  height: 350px;
  position: relative;
  padding: 1rem;
}

.imgWrapper {
  height: 200px;
  position: relative;
}

.badges {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}

.like {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.footer {
  @include flex-space-between-center;
  margin-top: 1rem;
}

.prevPrice {
  display: flex;
  gap: 1rem;
}

