@use "@/styles/abstracts" as *;
@use "@/styles/mixins" as *;

.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.navbar {
  @include flex-space-around-center;
  color: $cl-black;
}

.search {
  display: flex;
  align-items: center;
  height: 100%;
}

.search_content_catalog {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: left;
}
