@use "@/styles/abstracts" as *;
@use "@/styles/mixins" as *;

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.currentImg {
  border-radius: $box-radius;
  overflow: hidden;
}

.img {
  border-radius: $box-radius-primary;
  overflow: hidden;
  cursor: pointer;
}

