$cl-body: hsl(213, 23%, 91%);
$cl-white: #FFF;
$cl-text: hsl(244, 16%, 43%);
$cl-date: hsl(240, 17%, 73%);
$cl-black: hsl(244, 24%, 26%);
$cl-primary: hsl(353, 100%, 65%);
$cl-secondary: hsl(43, 100%, 68%);
$cl-fio: #6c6ce5;
$cl-brown: rgb(214, 213, 213);
$cl-brown_light: hsl(0, 0%, 100%);
$cl-blue: #5bb7ea;
$cl-pink: #db1265;

