@use "./abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: $ff-primary;
  font-size: $fs-primary;
}

body {
  line-height: 1.7;
  color: $cl-black;;
  background-color: $cl-body;
}

h1, h2, h3 {
  color: $cl-black;
  font-weight: 400;
  line-height: 1.2;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  text-decoration: none;
  color: $cl-blue;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
